<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<body>
	<article layout:fragment="contents">
		<h1 class="text-center text-white mt-5">꿀팁</h1>
			<!-- 게임 -->
			<div class="d-flex justify-content-around m-5">
				<div th:each="game:${gameList}">
					<div class="text-center">
						<a th:href="|/tip/detail-view?id=${game.id}|"><img th:src="${game.imagePath}" width="150"></a>
						<div th:text="${game.title}" class="w-10 text-white">리썰컴퍼니</div>
					</div>
				</div>
			</div>
	</article>
</body>
</html>