<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<body>
	<div id="wrap" class="bg-dark">
		<article layout:fragment="contents" class="contents">
			<div class="m-5">
				<h1 class="text-center">회원가입</h1>
				<div class="d-flex">
					<input type="text" class="form-control mt-4 w-75" id="loginIdInput" placeholder="아이디"><button type="button" id="duplicateBtn" class="mt-3 ml-2 rounded btn btn-secondary">중복확인</button>
				</div>
				<div> <!-- 중복문구 -->
					<div class="small text-success d-none" id="availableText">사용 가능한 ID 입니다.</div>
			        <div class="small text-danger d-none" id="duplicateText">중복된 ID 입니다.</div>
				</div>
				<input type="password" class="form-control mt-2" id="passwordInput" placeholder="비밀번호">
				<input type="password" class="form-control mt-2" id="passwordConfilmInput" placeholder="비밀번호확인">
				<input type="text" class="form-control mt-2" id="nameInput" placeholder="성명">
				<div class="birthdaySelect mt-2">
					<div>생년월일</div>
					<div class="text-secondary text-small mb-1">이 정보는 공개적으로 표시되지 않습니다</div>
					<select class="box" id="year">
					    <option disabled selected>년</option>
					</select>
					<select class="box" id="month">
					    <option disabled selected>월</option>
					</select>
					<select class="box" id="day">
					    <option disabled selected>일</option>
					</select>
				</div>
				
				<button id="joinBtn" class="btn btn-dark text-white w-100 btn-block rounded-lg">가입</button>
			</div>
		</article>
	</div>
	
	<script layout:fragment="script">
		$(document).ready(function () {
			
			let today = new Date();
			let year = today.getFullYear();
			console.log(year);
			
			//년도 selectbox 만들기
			for (i = 1970; i <= year; i++) {
			  $('#year').append('<option value="' + i + '">' + i + '</option>');
			}
			
			//월 selectbox 만들기
			for (i = 1; i <= 12; i++) {
			  $('#month').append('<option value="' + i + '">' + i + '</option>');
			}
			
			
			//일 selectbox 만들기
			for (i = 1; i <= 31; i++) {
			  $('#day').append('<option value="' + i + '">' + i + '</option>');
			}
			
			
			
			
			
		});
	</script>
	
	
</body>
</html>