@charset "UTF-8";

#wrap {
	width : 1440px;
	height : 1024px;
	margin : 0 auto;
	background-color:#000000;
}

header {
	height:100;
}

header nav ul li {
	list-style: none;
	display: inline-block;
}

.contents {
	width:511px;
	height:800px;
	border-radius:30px;
	background: rgba(217, 217, 217, 1.0);
	margin:50px auto;
}


.star-rating {
	display: flex;
}

.star {
	appearance: none;
	padding: 1px;
}

.star::after {
	content: '☆';
	color: hsl(46, 79%, 55%);
	font-size: 20px;
}

.star:hover::after,
.star:has(~ .star:hover)::after,
.star:checked::after,
.star:has(~ .star:checked)::after {
	content: '★';
}

.star:hover ~ .star::after {
	content: '☆';
}
    
.static-star {
  font-size: 20px;
  color: hsl(46, 79%, 55%);
}

.static-star.active {
  color: hsl(46, 100%, 45%);
}
    
    